{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  reagent/reagent {:mvn/version "1.2.0"}
  re-frame/re-frame {:mvn/version "1.3.0"}
  day8.re-frame/http-fx {:mvn/version "0.2.4" :exclusions [commons-codec/commons-codec cljs-ajax/cljs-ajax]}
  re-com/re-com {:mvn/version "2.13.2" :exclusions [org.clojure/core.async]}
  datascript/datascript {:mvn/version "1.3.15"}
  metosin/reitit-frontend {:mvn/version "0.6.0"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
  cljs-bean/cljs-bean {:mvn/version "1.9.0"}
  com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
  lambdaisland/glogi {:git/url "https://github.com/lambdaisland/glogi.git"
                      :sha "7c85abd3eb8eb7b1250e5a97e661fe30eed7c800"}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.11.60"}
    thheller/shadow-cljs {:mvn/version "2.22.9"}
    org.slf4j/slf4j-nop {:mvn/version "2.0.6"}
    binaryage/devtools {:mvn/version "1.0.6"}
    re-frisk/re-frisk {:mvn/version "1.6.0"}}}}}
